* {
  color: white;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}

.centro {
  width: 500px;
  height: 500px;
  background-image: url("../images/fondoanimado.gif");
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.a {
  text-decoration: none;
}

.centro > img {
  width: 64px;
  height: 64px;
}

.branding {
  color: white;
}
h1 {
  color: white;
}
p h1 {
  color: white;
}

p {
  color: white;
}
